# Email
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Database
DATABASES_NAME=
DATABASES_USERS=
DATABASES_PASSWORD=
DATABASES_HOST=
DATABASES_PORT=

# Cache
CACHE_ENABLED=
CACHES_LOCATION=

# Celery
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

# Secret key django settings.py
SECRET_KEY=