{% extends 'mailing/base.html' %}

{% block content %}
{% load tags %}

<div class="container">
    <div class="row featurette">
        <div class="col-md-7">
            <h2>{{ post.title }}</h2>
            <p class="lead">{{ post.content }}</p>
        </div>
        <div class="col-md-5">
            <img width="350" height="300" class="featurette-image img-fluid mx-auto" src="/media/{{ post.image }}">
        </div>
    </div>
</div>
<div>
    <a href="{% url 'blog:home' %}" class="btn btn-secondary my-3"
       style="background: #0062cc">Назад</a>

    {% if perms.blog.change_post %}
    <a href="{% url 'blog:blog_update' post.pk %}" class="btn btn-secondary my-3"
       style="background: green">Изменить</a>
    <a href="{% url 'blog:blog_confirm_delete' post.pk %}" class="btn btn-secondary my-3"
       style="background: red">Удалить</a>
    {% endif %}

</div>
{% endblock %}