{% extends 'mailing/base.html' %}

{% block content %}
    <div class="container">
        <div class="col-6">
            <div class="card-header"></div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Далее</button>
                </form>
            </div>
            <div class="card-header"></div>
        </div>
    </div>
{% endblock %}