<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row" style="margin: auto">
        <div class="col-12 col-md">
            SkyStore
            <small class="d-block mb-3 text-muted">Наш адрес:</small>
            <small class="d-block mb-3 text-muted">Санкт-Петербург, Лиговский проспект, 30</small>
            <small class="d-block mb-3 text-muted">ИНН: 7816526337</small>
            <small class="d-block mb-3 text-muted">Номер: 8 (800) 555-35-35</small>
        </div>
    </div>
</footer>